version: "3.5"
services:

  database:
    container_name: deadlock-reproducer-database
    image: mcr.microsoft.com/mssql/server:2017-latest
    environment:
      ACCEPT_EULA: y
      SA_PASSWORD: ABCabc123
      TZ: UTC
    volumes:
      - deadlock-reproducer-db-data:/var/opt/mssql
    ports:
      - 1433:1433
  databaseSetup:
    container_name: deadlock-reproducer-database-setup
    image: mcr.microsoft.com/mssql/server:2017-latest
    depends_on:
      - database
    restart: "no"
    environment:
      TZ: UTC
    volumes:
      - ./local:/opt/startup-scripts
    entrypoint: [ "bash", "-c", "sleep 5 && /opt/mssql-tools/bin/sqlcmd -S deadlock-reproducer-database -U SA -P ABCabc123 -Q \"$$(cat /opt/startup-scripts/local-db-setup.sql)\"" ]

volumes:
  deadlock-reproducer-db-data:
    name: deadlock-reproducer-db-data

networks:
  default:
    name: deadlock-reproducer
